<style type="text/css">
 e { text-decoration: underline;}
</style>    

<h2>Demo - Routing</h2>
<div class="dscr">
以下的URL比較特殊，請到App_Start/RouteConfig.cs內去看看如何設定?
</div>

<div id="main">
<a href="../taiwan-zh/public/blog/route-mvc/101">/taiwan-zh/public/blog/route-mvc/101</a>
</div>