@{
    ViewBag.Title = "Index";
}

<style type="text/css">
h2 { margin:10px;}
#demos a { float:left; width:100%; padding:18px; margin:8px 0; text-decoration:none;
            border:solid 2px green; font-size:18px; background-color:#fff; font-weight:bolder; }
#demos a:hover { background-color:green; color:#fff;}
</style>

<div class=dscr>
本介紹只粗略介紹MVC基礎，且不著重在Model部分，若有誤或不足請在歡迎不吝指教，謝謝!!
</div>
<div id="demos">
<a href="/Route/Index">Route</a>
<a href="/Product/Index">ActionResult 各種應用</a>
<a href="/Razor/Index">@@ Razor 好用的ViewEngine</a>
<a href="/BindModel/Index">DefaultModelBinder小範例</a>
<a href="/MyHelper/Index">WebHelper</a>
<a href="/MyHelper/RenderPartial">RenderPartial 讓你共用UI模組</a>
</div>

